.shift-testimonial {
  color: white;
  @include media(tablet down) {
    height: 70vh;
  }

  &__content {
    margin-top: 100px;
    text-align: center;
    margin: auto;
    padding: 0;

    @include media(desktop up) {
      font-size: x-large;
    }
  }

  &__name {
    margin-top: 100px;
    text-align: center;
    margin: auto;
    padding: 0;

    @include media(desktop up) {}
  }

}