.panels {
  &__heading {
    max-width: 580px;
  }

  &__image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

  &__link {
    color: var(--global-colors-green);

    &:hover {
      color: var(--global-colors-picton);
    }
  }

  p {
    margin-top: 0.7rem;
  }
}
